* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee Inline", cursive;
  color: #2BBEF5; }

body {
  overflow-x: hidden; }
  body section {
    margin-bottom: 5%;
    padding-bottom: 2%; }

.img-principales {
  transition: all 0.5s ease-in-out; }
  .img-principales .principal-rock img, .img-principales .principal-movie img,
  .img-principales .principal-comic img {
    border-radius: 20px;
    margin-top: 20%; }
    .img-principales .principal-rock img:hover, .img-principales .principal-movie img:hover,
    .img-principales .principal-comic img:hover {
      transition: all 0.5s ease-in-out;
      filter: opacity(0.5);
      transition: all 1s; }

.fondo-pantalla {
  background-image: url(../media/Sutil.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 540px) {
    .fondo-pantalla {
      background-attachment: none;
      background-repeat: no-repeat;
      background-size: cover; } }

.quienesSomos {
  margin-top: 100px; }

.quienesSomos h2, p {
  text-align: center; }

.quienesSomos .iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 1.5s;
  justify-content: space-between;
  margin-left: 2%; }

.quienesSomos .iconoMusica:hover, .quienesSomos .iconoPeli:hover, .quienesSomos .iconoGames:hover {
  transform: scale(2);
  transition: all 1s ease-in-out; }

#comoComprar {
  background-image: url(../media/background-palace-garden.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 540px) {
    #comoComprar {
      background-attachment: none;
      background-repeat: no-repeat;
      background-size: cover; } }

#comoComprar h2, h4 {
  text-align: center;
  padding: 20px;
  color: whitesmoke; }

#comoComprar .retiro, #comoComprar .retiro-2 {
  background-color: rgba(0, 0, 0, 0.589); }

.productos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4%; }
  .productos-container h2 {
    text-align: center;
    margin-bottom: 3%; }
  .productos-container p {
    text-align: center;
    margin-bottom: 2%; }

.productosMusica {
  display: flex;
  align-items: center; }
  .productosMusica p {
    text-align: center; }

.Big-Data {
  text-align: center;
  margin-bottom: 2%;
  margin-left: 4%; }

.bigData-1 h2, h3 {
  text-align: center;
  margin-bottom: 5%; }

#recomendadosMusica {
  background-image: url(../media/tiny-desk2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #recomendadosMusica h3, #recomendadosMusica h4, #recomendadosMusica p {
    background-color: rgba(0, 0, 0, 0.589); }
  @media (max-width: 540px) {
    #recomendadosMusica {
      background-attachment: none;
      background-repeat: no-repeat;
      background-size: cover; } }

#recomendadosMusica h3, iframe {
  margin-top: 50px; }

#recomendadosMusica .recomendado-1, #recomendadosMusica .recomendado-2,
#recomendadosMusica .recomendado-3, #recomendadosMusica .recomendado-4,
#recomendadosMusica .recomendado-5 {
  background-color: rgba(0, 0, 0, 0.589); }

.novedadesComics {
  margin-top: 70px; }

.novedadesComics h2 {
  text-align: center; }

.novedadesComics .img-comic {
  display: flex;
  justify-content: center; }

.novedadesComics-2 {
  display: flex;
  text-align: center; }

.titulo-timothee h2 {
  text-align: center; }

.recomendadosMovies .titulo-timothee {
  display: flex;
  justify-content: center; }

.recomendadosMovies .img-timothee {
  display: flex;
  justify-content: center; }

.recomendadosMovies .pieDefoto {
  text-align: center; }

.recomendadosMovies, .timothee-video {
  margin-top: 50px; }

.noticiaGamer {
  text-align: center; }

.noticiaGamer .img-gamer {
  display: flex;
  justify-content: center; }

.galeriaFotos {
  margin-top: 100px;
  display: flex;
  justify-content: center; }

.galeriaFotos {
  margin-top: 100px; }
  .galeriaFotos h2 {
    text-align: center; }

#contacto {
  text-align: center; }

footer p {
  font-size: large;
  text-align: center;
  margin-top: 15px; }

.iconoFb img, .iconoIg img, .iconoTw img {
  border-radius: 15px; }

footer .seguinos .iconoFb:hover, footer .iconoIg:hover, footer .iconoTw:hover {
  transform: scale(2);
  transition: all 1s; }

footer .iconoTelefono, footer .iconoMail,
footer .iconoUbicacion, footer .comoComprar {
  text-align: start;
  padding-top: 15px;
  border-radius: 10px; }

.seguinos {
  margin-top: 20px;
  margin-bottom: 20px; }

footer {
  padding-top: 100px;
  background-image: url(../media/robots4.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0; }
  @media (max-width: 540px) {
    footer {
      background-attachment: none;
      background-repeat: no-repeat;
      background-size: cover; } }
  footer .datosContacto img {
    border-radius: 15px; }

.datosContacto {
  margin-left: 1%;
  padding-bottom: 3%; }
