
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee Inline", cursive;
  color: #2BBEF5;
}

body{ 
  overflow-x: hidden;

  section {
   margin-bottom: 5%;
   padding-bottom: 2%;
 }
}



@import '../scss/components/body/img-principales';
@import '../scss/components/body/quienes-somos';
@import '../scss/components/body/como-comprar';
@import '../scss/components/body/productos/productos-container';
  @import '../scss/components/body/productos/productos-musica';
@import '../scss/components/body/big-data/bigData-container';
  @import '../scss/components/body/big-data/musica';
  @import '../scss/components/body/big-data/comics';
  @import '../scss/components/body/big-data/peliculas-tv';
  @import '../scss/components/body/big-data/games';
@import '../scss/components/body/galeriaFotos';
@import '../scss/components/footer/footer';












