
.novedadesComics {
    margin-top: 70px;
  }
  
  .novedadesComics h2 {
    text-align: center;
  }
  
  .novedadesComics .img-comic {
    display: flex;
    justify-content: center;
  }
  
  .novedadesComics-2 {
    display: flex; 
    text-align: center;
  }