
.titulo-timothee h2 {
    text-align: center;
  
  }

  .recomendadosMovies .titulo-timothee {
    display: flex;
    justify-content: center;
  }
  
  .recomendadosMovies .img-timothee {
    display: flex;
    justify-content: center;
  }
  
  .recomendadosMovies .pieDefoto {
    text-align: center;
  }
  
  .recomendadosMovies, .timothee-video {
    margin-top: 50px;
  }  
  .pieDefoto {
    margin-bottom: 3%;
  }